<div class="row header">
    <div class="Logo col-sm-8 col-md-5 col-lg-4 col-sm-offset-1">
        <a href="{{base_url}}">
            <img src="{{base_url}}template/img/NottinghamApartments.png" class="col-xs-12 responsive"/>
        </a>
    </div>
    <div class="contact hidden-sm col-md-6 col-md-offset-1 col-lg-5 col-lg-offset-3 hidden-xs col-xl-3 col-xl-offset-4">
        <div class="col-xs-4 col-lg-3 col-xl-3">
            <img src="/template/img/christinaHallam.jpeg" class="mug-shot img-circle"/>
        </div>
        <div class="col-xs-8 col-lg-9 col-xl-9 no-pad">
            <h4 class="whiteTxt col-xs-12">Christina Hallam</h4>
            <div class="whiteTxt col-xs-12"><i class="glyphicon glyphicon-earphone"></i>: 435-755-3510</div>
            <div class="whiteTxt col-xs-12"><i class="glyphicon glyphicon-home"></i>:
                135 S. Main Street, Suite 100 <br/>
                &nbsp&nbsp&nbsp&nbsp&nbsp Logan, Utah 84321
            </div>
        </div>
    </div>
</div>