<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/addon.css" rel="stylesheet">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{{base_url}}" class="navbar-nav">
                <img src="/img/jnet-logo.png"  width="50" height="50" align="top"/>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/userinfo">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>


    </div>
    </div>


</nav>