<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/addon.css" rel="stylesheet">
<div class="container">
    <div class="col-sm-3 col-lg-2">
        <nav class="navbar navbar-default side">

            SIDEBAR CLASS SECTIONS
            <p>{{data}}</p>
            <ul class="dropdown">Classes
                {{#each classSections}}
                    <li><a href="#">{{this}}</a></li>
                {{/each}}

            </ul>
        </nav>
    </div>
    <div class="inner-box">
        body
        <p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p><p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p><p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p><p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p><p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p>
        <p> testing</p><p> testing</p>
        <p> testing</p>
        <p> testing</p>
        end Body
    </div>
</div>
