{{> header}}

<div class="container">
    <form class="sign-in" action="" method="post">

        <div class="login-top">Login here:</div>
        <input type="text" id="A-number" class="form-control" placeholder = "A-number" required>
        <input type="password" id="Password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary" type="submit">Login</button>
    </form>
</div>


{{> footer}}