
{{> header_start}}
<link rel="stylesheet" href="/css/examStyle.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
{{> header_end}}
{{> main_no_sidebar_start}}

    <div class="mdl-grid loader">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--4-col mdl-typography--text-center">
            <img src="/img/loading.gif" alt="Loading Animation" class="img img-responsive"/>
            Loading Your Test Human!
        </div>
        <div class="mdl-layout-spacer"></div>
    </div>

    <div class="col-xs-12 body hidden">
        <div class="col-sm-6">
            <div class="mdl-grid">
                <div class="demo-card-wide mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text" id="qTitle"></h2>
                    </div>
                    <div class="mdl-card__supporting-text" id="qBody">

                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="prev">
                            Prev
                        </button>
                        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="nxt">
                            Next
                        </button>
                        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect hidden" id="sub">
                            Finish
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-xs-12 menu-bar"><button id="compile" class="mdl-button mdl-js-button mdl-js-ripple-effect">Run <i class="fa fa-play" aria-hidden="true"></i></button></div>
            <div class="col-xs-12">
                <div id="editor"></div>
            </div>
            <div class="col-xs-12 compileResults "  >
                <div class="titlebar col-xs-12 no-lr-pad" id="resultsOpen">
                    <div class="col-xs-11">Compile Results</div>
                    <div class="col-xs-1 text-right no-lr-pad resultsToggle">
                        <button class="btn btn-danger btn-xs toggle-btn" id="consoleOpen"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="body-container col-xs-12 no-lr-pad" id="console">
                    <div class="titlebar col-xs-12 no-lr-pad">
                        <div class="col-xs-11">Compile Results</div>
                        <div class="col-xs-1 text-right no-lr-pad resultsToggle">
                            <button class="btn btn-danger btn-xs" id="consoleClose"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <pre id="compile-body"></pre>
                </div>
            </div>
        </div>
    </div>
    {{> main_no_sidebar_end}}
    <dialog class="mdl-dialog">
        <h4 class="mdl-dialog__title text-center">Submitting Attempt</h4>
        <div class="mdl-dialog__content">
            <img src="/img/loading.gif" alt="Loading Animation" class="img img-responsive"/>
            <p class="text-center" id="waiting">
                Making sure your attempt is recorded human!
            </p>
            <p class="text-center hidden" id="finished">
                Successfully Recorded Human. Press continue to exit.
            </p>
        </div>
        <div class="mdl-dialog__actions">
            <a type="button" class="mdl-button" href="/dashboard" disabled id="cont">Continue</a>
        </div>
    </dialog>
    <script type="text/javascript">
        let testId = {{testId}};
    </script>
    <script type="text/javascript" src="{{base_url}}js/ace/ace.js"></script>
    <script type="text/javascript" src="{{base_url}}js/aceConfig.js"></script>

    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{base_url}}js/questions.js"></script>
{{> main_no_sidebar_end}}